@tailwind base;
@tailwind components;
@tailwind utilities;


.divider {
    border: 1px solid black;
    
  }

.emoji {
    font-size: 2em;
}

/* .calendar{
  width: 300px;
} */

td{
  text-align: center;
}

* {
text-transform: uppercase;}